<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Sección: Redes sociales -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Izquierda -->
    <div class="me-5 d-none d-lg-block">
      <span>Conéctate con nosotros en las redes sociales:</span>
    </div>
    <!-- Izquierda -->

    <!-- Derecha -->
    <div>
      <a href="#" class="me-4 text-reset" aria-label="Facebook">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="#" class="me-4 text-reset" aria-label="Twitter">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="#" class="me-4 text-reset" aria-label="Google">
        <i class="bi bi-google"></i>
      </a>
      <a href="#" class="me-4 text-reset" aria-label="Instagram">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="#" class="me-4 text-reset" aria-label="LinkedIn">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="#" class="me-4 text-reset" aria-label="GitHub">
        <i class="bi bi-github"></i>
      </a>
    </div>
    <!-- Derecha -->
  </section>
  <!-- Sección: Redes sociales -->

  <!-- Sección: Enlaces -->
  <section>
    <div class="container text-center text-md-start mt-5">
      <!-- Fila -->
      <div class="row mt-3">
        <!-- Columna -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="bi bi-gem me-3"></i>Tecnología Avanzada
          </h6>
          <p>
            Ofrecemos los mejores productos tecnológicos para cubrir todas tus necesidades digitales.
          </p>
        </div>
        <!-- Columna -->

        <!-- Columna -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Productos</h6>
          <p><a [routerLink]="'/laptops'" class="text-reset">Computadoras</a></p>
          <p><a [routerLink]="'/accesorios'" class="text-reset">Accesorios</a></p>
          <p><a [routerLink]="'/celulares'" class="text-reset">Smartphones</a></p>
          <p><a [routerLink]="'/wearables'" class="text-reset">Wearables</a></p>
        </div>
        <!-- Columna -->

        <!-- Columna -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Enlaces Útiles</h6>
          <p><a href="#!" class="text-reset">Soporte</a></p>
          <p><a href="#!" class="text-reset">Preguntas Frecuentes</a></p>
          <p><a href="#!" class="text-reset">Política de Privacidad</a></p>
          <p><a href="#!" class="text-reset">Términos y Condiciones</a></p>
        </div>
        <!-- Columna -->

        <!-- Columna -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
          <p><i class="bi bi-house-door me-3"></i> Andahuaylas, Apurimac</p>
          <p><i class="bi bi-envelope me-3"></i> contactotecnologia.com</p>
          <p><i class="bi bi-telephone me-3"></i> +51 999 999 999</p>
          <p><i class="bi bi-printer me-3"></i> +51 900 000 000</p>
        </div>
        <!-- Columna -->
      </div>
      <!-- Fila -->
    </div>
  </section>
  <!-- Sección: Enlaces -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2025 Tecnología Avanzada. Todos los derechos reservados.
  </div>
  <!-- Copyright -->
</footer>
