<div class="login">
  <div class="container" [ngClass]="{'toggle': isClaseAgregada}">
    <div class="container-form">
      <form class="sign-in">
        <h2>Iniciar Seción</h2>
        <div class="redes-sociales">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-google"></i>
            <i class="bi bi-twitter-x"></i>
        </div>
        <span>Use su correo y contraseña</span>
        <div class="container-input">
          <input type="email" placeholder="Email" id="loginEmail" autocomplete="off" required />
        </div>
        <div class="container-input">
          <input type="password" placeholder="Password" id="loginPassword" autocomplete="off" required />
        </div>
        <a href="#">¿Olvidaste tu contraseña?</a>
        <button class="button" (click)="usuarioAutenticado()">INICIAR SESIÓN</button>
      </form>
    </div>

    <!-- ------------- REGISTRO -------------- -->

    <div class="container-form">
      <form class="sign-up">
        <h2>Registrarse</h2>
        <div class="redes-sociales">
          <i class="bi bi-google"></i>
          <i class="bi bi-facebook"></i>
          <i class="bi bi-twitter-x"></i>
        </div>
        <span>Use su correo electronico para registrarse</span>
        <div class="container-input">
          <input [(ngModel)]="textoCompleto"  name="nombre" (input)="filtrarPrimeraPalabra($event)" type="text" placeholder="Nombre" required/>
        </div>
        <div class="container-input">
          <input type="email" placeholder="Email" required />
        </div>
        <div class="container-input">
          <input type="password" placeholder="Password" required />
        </div>
        <button class="button">REGISTRARSE</button>
      </form>
    </div>

    <!-- -------------- BIENVENIDA -------------- -->

    <div class="container-welcome">
      <div class="welcome-sign-up welcome">
        <h3>¡Bienvenido!</h3>
        <p>
          Ingrese sus datos personales para usar todas las funciones del sitio
        </p>
        <button class="button" id="btn-sign-up" (click)="onSignIn()">Registrarse</button>
      </div>
      <div class="welcome-sign-in welcome">
        <h3>¡Hola{{primeraPalabra ? ', ' + primeraPalabra: ''}}!</h3>
        <p>
          Registre sus datos personales para usar todas las funciones del sitio
        </p>
        <button class="button" id="btn-sign-in" (click)="onSignUp()">Iniciar Sesion</button>
      </div>
    </div>
  </div>
</div>
