<div class="login">
  <div class="container" [ngClass]="{ toggle: isClaseAgregada }">
    <!-- FORMULARIO DE INICIO DE SESIÓN -->
    <div class="container-form">
      <form class="sign-in" (submit)="login()">
        <h2 class="text text-black">Iniciar Sesión</h2>
        <div class="redes-sociales text text-black">
          <i class="bi bi-facebook" (click)="loginWithFacebook()"></i>
          <i class="bi bi-google" (click)="loginWithGoogle()"></i>
          <i class="bi bi-twitter-x"></i>
        </div>
        <span class="text text-black">Use su correo y contraseña</span>

        <div class="container-input">
          <input
            type="email"
            placeholder="Email"
            name="email"
            [(ngModel)]="email"
            autocomplete="off"
            required
            class="text text-black"
          />
        </div>

        <div class="container-input">
          <input
            [type]="mostrarPassword ? 'text' : 'password'"
            placeholder="Password"
            name="password"
            [(ngModel)]="password"
            autocomplete="off"
            required
            class="text text-black"
          />
          @if (password) {
          <i
            class="bi"
            [ngClass]="mostrarPassword ? 'bi-eye-slash' : 'bi-eye'"
            (click)="togglePasswordVisibility()"
            style="
              cursor: pointer;
              position: absolute;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
            "
          ></i>

          }
        </div>

        <a>¿Olvidaste tu contraseña?</a>

        <button class="button" type="submit">
          <i class="bi bi-box-arrow-in-right"></i> INICIAR SESIÓN
        </button>
      </form>
    </div>

    <!-- FORMULARIO DE REGISTRO -->
    <div class="container-form">
      <form class="sign-up" (submit)="register()">
        <h2 class="text text-black">Registrarse</h2>
        <div class="redes-sociales text text-black">
          <i class="bi bi-google" (click)="loginWithGoogle()"></i>
          <i class="bi bi-facebook" (click)="loginWithFacebook()"></i>
          <i class="bi bi-twitter-x"></i>
        </div>
        <span class="text text-black"
          >Use su correo electrónico para registrarse</span
        >

        <div class="container-input">
          <input
            [(ngModel)]="textoCompleto"
            [(ngModel)]="nombre"
            name="nombre"
            (input)="filtrarPrimeraPalabra($event)"
            type="text"
            placeholder="Nombre"
            required
            class="text text-black"
          />
        </div>

        <div class="container-input">
          <input
            type="email"
            name="registroEmail"
            [(ngModel)]="registroEmail"
            placeholder="Email"
            required
            class="text text-black"
          />
        </div>

        <div class="container-input">
          <input
            type="password"
            name="registroPassword"
            [(ngModel)]="registroPassword"
            placeholder="Password"
            required
            class="text text-black"
          />
        </div>

        <button class="button" type="submit">REGISTRARSE</button>
      </form>
    </div>

    <!-- PANELES DE BIENVENIDA -->
    <div class="container-welcome">
      <div class="welcome-sign-up welcome">
        <h3>¡Bienvenido!</h3>
        <p>
          Ingrese sus datos personales para usar todas las funciones del sitio
        </p>
        <button class="button" (click)="showLoginForm()">Registrarse</button>
      </div>

      <div class="welcome-sign-in welcome">
        <h3>¡Hola{{ primeraPalabra ? ", " + primeraPalabra : "" }}!</h3>
        <p>
          Registre sus datos personales para usar todas las funciones del sitio
        </p>
        <button class="button" (click)="showRegisterForm()">
          Iniciar Sesión
        </button>
      </div>
    </div>
  </div>
</div>