<nav class="navbar navbar-expand-lg shadow-sm">
  <div class="container-fluid">
    <!-- Logo / Marca -->
    <a class="navbar-brand fw-bold text-primary" [routerLink]="'/inicio'">TechStore</a>

    <!-- Botón responsive -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido del navbar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navegación izquierda -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if (router.url !== '/inicio') {
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/inicio'">Inicio</a>
        </li>
        }
        @if (loggedInUser == 'diego@gmail.com') { 
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/personal'">personal</a>
        </li>
      }
      @if (isLoggedIn == true) { 
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/pedidos'">pedidos</a>
        </li>
      }
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Ofertas</a>
        </li> -->
        @if (router.url !== '/contacto') {
        <li class="nav-item">
          <a
            class="nav-link routerLinkActive='active'"
            [routerLink]="'/contacto'"
            >Contacto</a
          >
        </li>
        } 
        @if (loggedInUser == 'diego@gmail.com') { 
          @if (router.url !== '/productos') {
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos">admin panel</a>
        </li>
          }
        }
      </ul>
      <!-- Carrito y búsqueda -->
      <div class="d-flex align-items-center">
        <a class="nav-link position-relative fs-4 me-4 text-primary" [routerLink]="'/carrito'">
          <i class="bi bi-cart-fill"></i>
          @if(contadorCarrito > 0){
            <span 
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            style="font-size: 0.75rem; width: 1.2rem; height: 1.2rem; display: flex; align-items: center; justify-content: center;"
            >
              {{contadorCarrito}}
              <span class="visually-hidden">productos en el carrito</span>
            </span>
          }
        </a>

        <!-- Buscador -->
        <!-- <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Buscar productos..."
            aria-label="Buscar"
          />
          <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </form> -->
      </div>
      <ul class="navbar-nav mb-2 mb-lg-0">
        @if (!isLoggedIn) {
        <li class="nav-item px-4">
          <a class="nav-link" [routerLink]="['/login']">
            <i class="bi bi-person"></i> Login
          </a>
        </li>
        }
        @if (isLoggedIn) {
        <li class="nav-item px-4">
          <a style="cursor: pointer;" (click)="logout()" class="nav-link">
            <i class="bi bi-box-arrow-right"></i> Salir
          </a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
