<app-cabecero/>
<spline-viewer url="https://prod.spline.design/PlrpkmrQFKPe9EeB/scene.splinecode"></spline-viewer>
<div class="row w-100 align-items-center">
    <!-- -------------------------- -->
    <div id="spline-border" class="col-md-8">
      <!-- <img src="audifono.png" class="d-block img-fluid" style="max-height: 400px" alt="..."/> -->
      <spline-viewer
        id="imagen3d"
        url="https://prod.spline.design/I9ZebOpq23BaQJdx/scene.splinecode"
      ></spline-viewer>
      <!-- 
      fekeboh931
      fekeboh931@betzenn.com
       -->
    </div>
    <div class="col-md-4 text-center">
      <h1 class="fw-bold">Auriculares</h1>
      <h1 class="fw-bold">Elek - A56</h1>
      <div class="mt-4">
        <button type="button" class="btn btn-primary btn-lg shadow mx-2">
          Comprar
        </button>
      </div>
    </div>
  </div>
<app-footer-inicio/>