<nav
  class="navbar navbar-expand-lg"
  style="background-color: #d6d6d6"
  data-bs-theme="light"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Algo</a>
        </li>
      </ul>

      <!-- -------------------------- -->

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fs-4 me-4" href="#">
            <i class="bi bi-cart-fill"></i>
          </a>
        </li>
      </ul>

      <!-- ----------------------------- -->
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<!-- -------------------------- -->
<div
  class="d-flex justify-content-center align-items-center vh-100"
  style="background: linear-gradient(to right, white, #e0e0e0, #bcbcbc)"
>
  <div class="row w-75 align-items-center">
    <div class="col-md-6 text-center">
      <h1 class="fw-bold">Auriculares</h1>
      <h1 class="fw-bold">Elek - A56</h1>
      <div class="mt-4">
        <button type="button" class="btn btn-primary btn-lg shadow mx-2">
          Comprar
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary btn-lg shadow mx-2"
        >
          Mas Modelos
        </button>
      </div>
    </div>
    <!-- -------------------------- -->
    <div class="col-md-6 text-center">
      <!-- <img
        src="audifono.png"
        class="d-block img-fluid"
        style="max-height: 400px"
        alt="..."
      /> -->
      <spline-viewer id="imagen3d" class="d-block" style="max-height: 400px" url="https://prod.spline.design/A7Yw6oJWMvu9BHyV/scene.splinecode"></spline-viewer>
    </div>
  </div>
</div>
<!-- -------------------------- -->
<app-productos-inicio></app-productos-inicio>
<!-- -------------------------- -->
<!-- Footer -->
 <app-footer-inicio></app-footer-inicio>
<!-- Footer -->