<nav class="navbar navbar-expand-lg bg-light shadow-sm" data-bs-theme="light">
  <div class="container-fluid">
    <!-- Logo / Marca -->
    <a class="navbar-brand fw-bold text-primary" href="#">TechStore</a>

    <!-- Botón responsive -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido del navbar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navegación izquierda -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if (router.url !== '/inicio') {
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/inicio'">Inicio</a>
        </li>
        }
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Productos</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Ofertas</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="contacto">Contacto</a>
        </li>
      </ul>

      <!-- Carrito y búsqueda -->
      <div class="d-flex align-items-center">
        <!-- Icono carrito sin número -->
        <a class="nav-link position-relative fs-4 me-4 text-dark" href="#">
          <i class="bi bi-cart-fill"></i>
        </a>

        <!-- Buscador -->
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Buscar productos..."
            aria-label="Buscar"
          />
          <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<!-- -------------------------- -->
<div
  class="d-flex justify-content-center align-items-center vh-100"
  style="background: linear-gradient(to right, white, #d2d1d1, #8f8e8e)"
>
  <div class="row w-100 align-items-center">
    <div class="col-md-4 text-center">
      <h1 class="fw-bold">Auriculares</h1>
      <h1 class="fw-bold">Elek - A56</h1>
      <div class="mt-4">
        <button type="button" class="btn btn-primary btn-lg shadow mx-2">
          Comprar
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary btn-lg shadow mx-2"
        >
          Mas Modelos
        </button>
      </div>
    </div>
    <!-- -------------------------- -->
    <div id="spline-border" class="col-md-8">
      <!-- <img src="audifono.png" class="d-block img-fluid" style="max-height: 400px" alt="..."/> -->
      <spline-viewer
        id="imagen3d"
        url="https://prod.spline.design/I9ZebOpq23BaQJdx/scene.splinecode"
      ></spline-viewer>
    </div>
  </div>
</div>

<!-- -------------------------- -->
<app-productos-inicio></app-productos-inicio>
<!-- -------------------------- -->
<!-- Footer -->
<app-footer-inicio></app-footer-inicio>
<!-- Footer -->
